*{
  margin: 0; padding: 0; box-sizing: border-box;
}
:root{
  --ff-main: "Montserrat", sans-serif;
  font-size: 62.5%;
  --clr-main: hsl(0, 0%, 100%);
}
body{
  background: url(/images/homeBG.png) no-repeat; background-size: cover;
  padding: 4rem 13rem;
}
nav{
  display: flex; align-items: center; justify-content: space-between;
}
nav button{
  background: none; border: none;
  transition: all 300ms ease-in-out; 
}
nav button:hover{
  transform: scale(1.02);
}
main{
  display: flex; justify-content: space-between;
  margin-top: 5.7rem; width: 100%; height: auto;
}
/*========SELECTED MOVIE==========================================================================================================================================================*/
.selected-movie-container{
  display: flex; flex-direction: column; align-self: center;
  font-family: var(--ff-main); color: var(--clr-main); font-size: 2rem; line-height: 2.4rem;
}
.imdb-rating-content{
  display: flex; align-items: center; gap: 1rem;
   font-weight: 500;
}
.category-content{
  display: flex; margin-top: .8rem;
   font-weight: 400;
}
.sumary-logo{
  padding: 3rem 0 3rem 0;
}
.sumary-text{
  width: 40rem; height: 13rem;
  font-size: 2rem; line-height: 3.2rem; font-weight: 400;
}