*{
  margin: 0; padding: 0; box-sizing: border-box;
}
:root{
  --ff-main: "Montserrat", sans-serif;
  font-size: 62.5%;
  --clr-main: hsl(0, 0%, 100%);
}
body{
  background: url(/images/homeBG.png) no-repeat; background-size: cover;
  padding: 4rem 13rem;
}
nav{
  display: flex; align-items: center; justify-content: space-between;
}
nav button{
  background: none; border: none;
  transition: all 300ms ease-in-out; 
}
nav button:hover{
  transform: scale(1.04);
}
main{
  display: flex; justify-content: space-between;
  margin-top: 5.7rem; width: 100%; height: auto;
}
/*========SELECTED MOVIE==========================================================================================================================================================*/
.selected-movie-container{
  display: flex; flex-direction: column; align-self: center;
  font-family: var(--ff-main); color: var(--clr-main); font-size: 2rem; line-height: 2.4rem;
}
.imdb-rating{
  transition: all 100ms ease-in-out;
}
.imdb-rating:hover{
  transform: scale(1.02);

}
.imdb-rating-content{
  display: flex; align-items: center; gap: 1rem;
   font-weight: 500;
}
.category-content{
  display: flex; margin-top: .8rem;
   font-weight: 400;
}
.sumary-logo{
  padding: 3rem 0 3rem 0;
}
.sumary-text{
  width: 40rem; height: 13rem;
  font-size: 2rem; line-height: 3.2rem; font-weight: 400;
}
.button-watch{
  align-items: center; display: flex;
}
.selected-movie-container button{
  display: flex; align-items: center; justify-content: right; gap: 2rem;
  width: 25rem; height: 7rem; border-radius: 9999px;
  font-size: 2rem; line-height: 2.4rem; font-weight: 500; color: var(--clr-main);
  border: none; background: linear-gradient(154.23deg, #0F3A7B -58.45%, #0CFFFF 374.49%); filter: drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.160784));
  transition: 300ms ease-in-out;
}
.selected-movie-container button .play-icon{
  animation: go-for 1000ms forwards;
}
.selected-movie-container button:hover .play-icon{
  animation: go-back 1000ms forwards;
}
.selected-movie-container button .watch{
  animation: text-for 1000ms forwards;
}
.selected-movie-container button:hover .watch{
  animation: text-back 1000ms forwards;
}
/*========MOVIES LIST===================================================================================================================================================================================*/
.movies-list-container{
  display: flex; flex-direction: column; overflow-y: scroll; height: 70rem; gap: 3rem;
}
.movies-list-container h2{
  font-family: var(--ff-main); color: var(--clr-main); font-size: 2.8rem; line-height: 3.4rem;
}
.movie-player{
  display: flex; flex-direction: column; background-repeat: no-repeat; position: relative; min-height: 15rem;
  margin-right: 4rem; width: 26.5rem;
  border-radius: 0.8rem; cursor: pointer;
}
.movie-player:hover .thumbnail img{
  transform: scale(1.04);
}
.thumbnail img {
  transition: all 300ms ease-in-out;
  content: ""; position: absolute; width: 3.5rem; height: 3.5rem; top: 5.7rem; left: 11.5rem;
}
#thumb1{
  background: url(/images/movies/movie1.png);
}
#thumb2{
  background: url(/images/movies/movie2.png);
}
#thumb3{
  background: url(/images/movies/movie3.png);
}
#thumb4{
  background: url(/images/movies/movie4.png);
}
#thumb5{
  background: url(/images/movies/movie5.png);
  background-size: cover;
}
.text-movies {
  position: absolute; z-index: 3; left: 0; bottom: -.6rem; padding: 0 0 1.6rem 0.6rem;
}
h3{
  font-family: var(--ff-main); color: var(--clr-main); font-weight: 700; padding: .3rem;
}
.text-movies h3:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.text-movies h3:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}












/* Scroll Bar Settings */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.movies-list-container::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.movies-list-container::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.movies-list-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.movies-list-container::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.movies-list-container::-webkit-scrollbar-track {
  background: #bfbfbf;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.movies-list-container::-webkit-scrollbar-track:hover {
  background: #bfbfbf;
}
.movies-list-container::-webkit-scrollbar-track:active {
  background: #ffffff;
}
.movies-list-container::-webkit-scrollbar-corner {
  background: transparent;
}
/* Play Button Animation */
@keyframes go-back{
  0%{
    transform: translateX(1rem);
  }
  100%{
    transform: translateX(-6rem);
  }
}
@keyframes go-for{
  0%{
    transform: translateX(-6rem);
  }
  100%{
    transform: translateX(1rem);
  }
}
/* Name Animation */
@keyframes text-back{
  0%{
    transform: translateX(-12rem);
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  100%{
    transform: translateX(-6rem);
    opacity: 1;
  }
}
@keyframes text-for{
  0%{
    transform: translateX(-6rem);
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  100%{
    transform: translateX(-12rem);
    opacity: 0;
  }
}