*{
  margin: 0; padding: 0; box-sizing: border-box;
}
:root{
  --ff-main: "Montserrat", sans-serif;
  font-size: 62.5%;
  --clr-main: hsl(0, 0%, 100%);
}
body{
  background: url(/images/homeBG.png) no-repeat; background-size: cover;
  padding: 4rem 13rem;
}
nav{
  display: flex; align-items: center; justify-content: space-between;
}
nav button{
  background: none; border: none;
  transition: all 300ms ease-in-out; 
}
nav button:hover{
  transform: scale(1.02);
}
main{
  display: flex; justify-content: space-between;
  margin-top: 5.7rem; width: 100%; height: auto;
}
/*========SELECTED MOVIE==========================================================================================================================================================*/
.selected-movie-container{
  display: flex; flex-direction: column; align-self: center;
  font-family: var(--ff-main); color: var(--clr-main); font-size: 2rem; line-height: 2.4rem;
}
.imdb-rating-content{
  display: flex; align-items: center; gap: 1rem;
   font-weight: 500;
}
.category-content{
  display: flex; margin-top: .8rem;
   font-weight: 400;
}
.sumary-logo{
  padding: 3rem 0 3rem 0;
}
.sumary-text{
  width: 40rem; height: 13rem;
  font-size: 2rem; line-height: 3.2rem; font-weight: 400;
}
.button-watch{
  align-items: center; display: flex;
}
.selected-movie-container button{
  display: flex; align-items: center; justify-content: right; gap: 2rem;
  width: 25rem; height: 7rem; border-radius: 9999px;
  font-size: 2rem; line-height: 2.4rem; font-weight: 500; color: var(--clr-main);
  border: none; background: linear-gradient(154.23deg, #0F3A7B -58.45%, #0CFFFF 374.49%); filter: drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.160784));
  transition: 300ms ease-in-out;
}
.selected-movie-container button .play-icon{
  animation: go-for 1000ms forwards;
}
.selected-movie-container button:hover .play-icon{
  animation: go-back 1000ms forwards;
}
.selected-movie-container button .watch{
  animation: text-for 1000ms forwards;
}
.selected-movie-container button:hover .watch{
  animation: text-back 1000ms forwards;
}




















/* Play Button Animation */
@keyframes go-back{
  0%{
    transform: translateX(0rem);
  }
  100%{
    transform: translateX(-6rem);
  }
}
@keyframes go-for{
  0%{
    transform: translateX(-6rem);
  }
  100%{
    transform: translateX(1rem);
  }
}
/* Name Animation */
@keyframes text-back{
  0%{
    transform: translateX(-12rem);
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  100%{
    transform: translateX(-6rem);
    opacity: 1;
  }
}
@keyframes text-for{
  0%{
    transform: translateX(-6rem);
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  100%{
    transform: translateX(-12rem);
    opacity: 0;
  }
}